@import "variables";

* {
    margin: 0;
    padding: 0;
}

// layout.php
#wrapper {
    padding: 90px 15px;
}

.navbar-expand-lg {
    .navbar-nav.side-nav {
        flex-direction: column;
    }
}

.card {
    margin-bottom: 15px;
    border-radius: 0;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .1);
}

.header-top {
    box-shadow: 0 3px 5px rgba(0, 0, 0, .1)
}

.leftmenutrigger, .navbar-nav li a .shortmenu {
    display: none

}

// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
