* {
  margin: 0;
  padding: 0; }

#wrapper {
  padding: 90px 15px; }

.navbar-expand-lg .navbar-nav.side-nav {
  flex-direction: column; }

.card {
  margin-bottom: 15px;
  border-radius: 0;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1); }

.header-top {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1); }

.leftmenutrigger, .navbar-nav li a .shortmenu {
  display: none; }

.card-title {
  font-size: 28px; }

.table-tasks tr {
  text-align: center; }

.table-tasks tbody {
  font-size: 14px; }

.priority {
  font-size: 20px;
  padding: 5px 10px; }

.high-priority {
  color: red; }

.work {
  padding: 2px 6px;
  color: white; }

.work-go {
  background-color: #777777; }

.work-wait {
  background-color: #041e42; }

.work-done {
  background-color: green; }

.medium-priority {
  color: blue; }

.low-priority {
  color: green; }

.deadline {
  padding: 2px 6px; }

.deadline-ok {
  background-color: rgba(0, 255, 0, 0.1); }

.deadline-middle {
  background-color: rgba(255, 250, 0, 0.1); }

.deadline-expired {
  background-color: rgba(255, 0, 0, 0.1); }

.profile-image {
  width: 50px;
  height: 50px;
  border-radius: 100%; }

.time-post {
  color: grey; }

.card-body-label {
  float: left;
  height: 100%;
  width: 100px;
  padding: 1.25em;
  background-color: red;
  text-align: center;
  color: white; }

.card-task {
  background-color: #ae124c; }

.card-message {
  background-color: #cc6a2d; }

.card-wiki {
  background-color: #2ba3a2; }

.card-users {
  background-color: #009abb; }

.card-body-text {
  float: left;
  padding: 6px;
  width: calc(100% - 100px); }

.card-body-text hr {
  margin: 0;
  padding: 0;
  background-color: white; }

.no-padding {
  padding: 0px; }

.real-time-counter {
  font-weight: bold; }

.card-body-task {
  background-color: #d9175f;
  color: white; }

.card-body-message {
  background-color: #ff8438;
  color: white; }

.card-body-wiki {
  background-color: #37cccb;
  color: white; }

.card-body-users {
  background-color: #00c2ea;
  color: white; }

@media (min-width: 992px) {
  .leftmenutrigger {
    display: block;
    display: block;
    margin: 7px 20px 4px 0;
    cursor: pointer; }

  #wrapper {
    padding: 90px 15px 15px 75px; }

  #wrapper.open {
    padding: 90px 15px 15px 225px; }

  .navbar-nav.side-nav.open {
    left: 0; }

  .side-nav li a {
    padding: 20px; }

  .navbar-nav li a .shortmenu {
    float: right;
    display: block;
    opacity: 1; }

  .navbar-nav.side-nav.open.navbar-nav li a .shortmenu {
    opacity: 0; }

  .navbar-nav.side-nav {
    background: #585f66;
    box-shadow: 2px 1px 2px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 56px;
    flex-direction: column !important;
    left: -140px;
    width: 200px;
    bottom: 0;
    padding-bottom: 40px; } }
.animate {
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  transition: all 0.2s ease-in-out; }

.navbar-nav li a svg {
  font-size: 25px;
  float: left;
  margin: 0 10px 0 5px; }

.side-nav li {
  border-bottom: 1px solid #50575d; }

.side-nav .dropdown {
  position: initial; }

.side-nav .dropdown-menu {
  position: relative;
  opacity: 0;
  left: 120%;
  top: 0;
  height: 100%;
  border: 0;
  padding: 0;
  margin: 0;
  border-radius: 0;
  box-shadow: 5px 0 5px rgba(0, 0, 0, 0.1);
  background: #eee;
  visibility: hidden;
  display: block;
  transition: .4s ease all; }

.side-nav .dropdown-menu.show {
  left: 100%;
  opacity: 1;
  visibility: visible;
  display: block;
  transition: .4s ease all; }
