* {
  margin: 0;
  padding: 0; }

#wrapper {
  padding: 75px 15px 90px; }

.navbar-expand-lg .navbar-nav.side-nav {
  flex-direction: column; }

.nav-item a {
  color: white !important; }

.navbar-expand-lg {
  background-color: #041e42 !important; }

.navbar-nav {
  background-color: #041e42 !important; }

.card {
  margin-bottom: 15px;
  border-radius: 0;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1); }

.header-top {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1); }

.leftmenutrigger, .navbar-nav li a .shortmenu {
  display: none; }

.card-title {
  font-size: 28px; }

.table-tasks tr {
  text-align: center; }

.table-tasks tbody {
  font-size: 14px; }

.priority {
  font-size: 20px;
  padding: 5px 10px; }

.high-priority {
  color: red; }

.work {
  padding: 2px 6px;
  color: white; }

.work-go {
  background-color: #777777; }

.work-wait {
  background-color: #041e42; }

.work-done {
  background-color: green; }

.medium-priority {
  color: blue; }

.low-priority {
  color: green; }

.deadline {
  padding: 2px 6px; }

.deadline-ok {
  background-color: rgba(0, 255, 0, 0.1); }

.deadline-middle {
  background-color: rgba(255, 250, 0, 0.1); }

.deadline-expired {
  background-color: rgba(255, 0, 0, 0.1); }

.profile-image {
  width: 50px;
  height: 50px;
  border-radius: 100%; }

.time-post {
  color: grey; }

.card-body-label {
  float: left;
  height: 100%;
  width: 100px;
  padding: 1.25em;
  background-color: red;
  text-align: center;
  color: white; }

.card-task {
  background-color: #ae124c; }

.card-message {
  background-color: #cc6a2d; }

.card-body-label a {
  color: white; }

.card-body-label a:visited {
  color: white; }

.card-wiki {
  background-color: #2ba3a2; }

.card-users {
  background-color: #009abb; }

.card-body-text {
  float: left;
  padding: 6px;
  width: calc(100% - 100px); }

.card-body-text hr {
  margin: 0;
  padding: 0;
  background-color: white; }

.no-padding {
  padding: 0; }

.real-time-counter {
  font-weight: bold; }

.card-body-task {
  background-color: #d9175f;
  color: white; }

.card-body-message {
  background-color: #ff8438;
  color: white; }

.card-body-wiki {
  background-color: #37cccb;
  color: white; }

.card-body-users {
  background-color: #00c2ea;
  color: white; }

.auth-container {
  height: 100vh; }

.main-auth-row {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }

.auth-form {
  border: 5px solid #de6262;
  background-color: white;
  box-shadow: 0 0 10px #de6262; }

.auth-form-text {
  margin-top: 30px;
  color: #de6262; }

.auth-form .form-group {
  padding: 0 30px; }

.auth-form input {
  width: 100%;
  margin-bottom: 30px;
  border: 2px #de6262; }

.auth-form button {
  margin-bottom: 0;
  width: 100%;
  background-color: #de6262;
  border: none;
  color: white;
  padding: 12px;
  cursor: pointer;
  border-top: 5px solid #de6262; }

.auth-background {
  z-index: -1;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  filter: blur(5px) brightness(40%);
  background-size: cover; }

.text-ci-auth {
  display: inline-block;
  width: 100%;
  text-align: right; }

.auth-form button:hover {
  color: #de6262;
  background-color: white; }

.auth-form-text:after {
  content: " ";
  width: 100%;
  height: 5px;
  display: block;
  margin-top: 20px;
  border-radius: 3px;
  background-color: #de6262; }

.user-table thead, .user-table tbody {
  text-align: center; }

.create-user-button {
  border-radius: 0;
  text-transform: uppercase;
  padding: 20px;
  margin-bottom: 20px; }

.profile-card-user {
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  -webkit-transition: -webkit-transform 0.7s;
  transition: transform 0.7s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d; }

.profile-card-user-social {
  list-style: none;
  text-align: left;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  color: #d9175f;
  margin: 0; }

.profile-card-user-social li {
  display: inline-block; }

.profile-card-user img {
  border-radius: 100%;
  margin: 20px; }

.profile-card-user a {
  color: #d9175f; }

.profile-card-user hr {
  margin: 0;
  padding: 0; }

.profile-card-user span {
  margin-top: 10px;
  display: inline-block; }

.profile-card-user h5 {
  color: grey; }

.account-profile-avatar {
  width: 180px;
  height: 180px;
  display: block;
  margin: auto; }

.account-profile-main {
  padding: 20px;
  margin: 0 0 20px 0; }

.account-profile-contact_information {
  list-style: none; }

.account-profile-main_information {
  list-style-type: none; }

.account-profile-main_information li:first-child {
  font-size: 20px;
  white-space: nowrap; }

.account-main-btn {
  display: block;
  margin: auto;
  width: 200px; }

marquee {
  margin: 0 20px 20px; }

.user-info-popup {
  list-style-type: none; }

#mceu_31 {
  display: none; }

.card-table-rendered {
  padding: 20px; }

.group-user-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 5px;
  margin-bottom: 5px;
  cursor: pointer; }

.card-col {
  padding: 15px; }

#photo {
  cursor: pointer; }

.hidden-print {
  display: none; }

.posts-wrapper {
  margin-bottom: 50px; }

.group-info-wrapper {
  background-color: yellow; }

.post-body {
  width: 100%;
  padding: 0;
  border: #041e42; }

.post-card-header {
  background-color: #041e42;
  color: white;
  padding: 4px; }

.card-header:first-child {
  border-radius: 0; }

.post-body::after {
  content: '';
  height: 0;
  width: 0;
  position: absolute;
  display: block;
  border: 15px solid transparent;
  border-right-color: #041e42;
  top: 8px;
  left: -30px; }

.post-title {
  width: 100%;
  font-weight: bolder;
  font-size: 18px; }

.post-author {
  padding: 0; }

.post-author img {
  display: block;
  margin: auto;
  width: 80px;
  height: 80px;
  border-radius: 50%; }

.post-main-info {
  float: left; }
  .post-main-info p {
    margin: 0; }

.post-time-info {
  font-size: 10px;
  margin: 0; }

.btn-outline-secondary {
  color: #041e42; }

.btn-outline-secondary:hover {
  background-color: #041e42;
  color: white; }

.post-footer {
  display: flex;
  font-size: 12px;
  justify-content: space-between;
  justify-items: center;
  align-items: center; }

.post-comment-icon {
  font-size: 16px; }

.post-comment-author {
  color: #041e42; }

.post-author-span {
  background-color: #041e42;
  color: white;
  padding: 2px 4px 4px 4px;
  border-radius: 2px; }

.comments-rendered, .comment-rendered, .new-comment {
  padding: 0;
  margin: 0; }

.comments-rendered {
  display: none; }

.comment-img-left img {
  width: 60px;
  height: 60px;
  margin: 0; }

.post-body-comment::after {
  border-right-color: #041e42;
  left: -31px; }

.comments-count {
  margin-left: 8px;
  font-size: 18px;
  font-weight: 500; }

.post-comment-icon {
  cursor: pointer; }

::-webkit-scrollbar {
  width: 10px;
  background-color: rgba(4, 30, 66, 0.1); }

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #041e42;
  background-color: rgba(4, 30, 66, 0.3); }

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(4, 30, 66, 0.3);
  background-color: #041e42; }

.mb-3 input[type="text"]:focus {
  outline: none !important;
  box-shadow: none;
  border-color: #041e42; }

.mb-3 input[type="text"]::-webkit-input-placeholder {
  font-size: 12px; }

.mb-3 button {
  border: 1px solid #041e42; }

.modal-footer .btn {
  background-color: #041e42 !important;
  border: 1px solid #041e42;
  border-radius: 0; }

@media (min-width: 992px) {
  .leftmenutrigger {
    display: block;
    margin: 7px 20px 4px 0;
    cursor: pointer; }

  #wrapper {
    padding: 75px 15px 15px 75px; }

  #wrapper.open {
    padding: 75px 15px 15px 225px; }

  .navbar-nav.side-nav.open {
    left: 0; }

  .side-nav li a {
    padding: 20px; }

  .navbar-nav li a .shortmenu {
    float: right;
    display: block;
    opacity: 1; }

  .navbar-nav.side-nav.open.navbar-nav li a .shortmenu {
    opacity: 0; }

  .navbar-nav.side-nav {
    background: #585f66;
    box-shadow: 2px 1px 2px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 56px;
    flex-direction: column !important;
    left: -140px;
    width: 200px;
    bottom: 0;
    padding-bottom: 40px; } }
.animate {
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all 0.2s ease-in-out; }

.navbar-nav li a svg {
  font-size: 25px;
  float: left;
  margin: 0 10px 0 5px; }

.side-nav li {
  border-bottom: 1px solid #50575d; }

.side-nav .dropdown {
  position: initial; }

.side-nav .dropdown-menu {
  position: relative;
  opacity: 0;
  left: 120%;
  top: 0;
  height: 100%;
  border: 0;
  padding: 0;
  margin: 0;
  border-radius: 0;
  box-shadow: 5px 0 5px rgba(0, 0, 0, 0.1);
  background: #eee;
  visibility: hidden;
  display: block;
  transition: .4s ease all; }

.side-nav .dropdown-menu.show {
  left: 100%;
  opacity: 1;
  visibility: visible;
  display: block;
  transition: .4s ease all; }
